.template-element-class {
    margin-right: 50px;
}

.key-class {
    color: gray;
    font-size: small;
}

.value-class {
    color: black;
    font-size: normal;
    font-weight: bold;
}

span {
    margin-left: 10px;
}
